{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Subir Video{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form action="/upload" method="POST"
         enctype="multipart/form-data">
         <input type="file" name="file"/>
         <input type="submit"/>
    </form>
  </body>
{% endblock content %}

